# Data Management & Analytics in Python

**WU Executive Academy: Data Science**

**Post Module - João Reis**

***

*In the Advanced track, you will do a mini end-to-end Data Science project on a topic of your choice using an existing publicly available data set. The notebook you hand in should be roughly structured as follows:*

https://www.kaggle.com/code/muratoz/98-accuracy-logisticregression-and-svc/notebook

**1. Case Description**

• Motivation and brief introduction to the topic at hand.

• What are interesting research questions you are going to tackle?

**2. Data set**

Dataset source and description (make sure to include pointers to the source(s) of all the data you use)

**3. Related work:**

Deferences to literature and other notebooks available online that you have
looked into.

**4. Step 1: Load Data**

In [24]:
import numpy as np # linear algebra
import pandas as pd # data processing

# Import data
df=pd.read_csv("https://raw.githubusercontent.com/joao-reis25/dataSciencePython/refs/heads/main/csv/Bank_Personal_Loan_Modelling.csv")

**5. Step 2: Prepare and explore the data**

In [26]:
# Explore the data
# Basic information about the dataset
print("Dataset Shape:", df.shape)
print("\nDataset Info:")
df.info()

Dataset Shape: (5000, 14)

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [27]:
# Display first few rows and basic statistics
print("\nFirst 5 rows:")
display(df.head())
print("\nBasic Statistics:")
display(df.describe())

First 5 rows:

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

Basic Statistics:

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937938,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747659,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [28]:
# Check for missing values
print("\nMissing Values:")
display(df.isnull().sum())

Missing Values:

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [29]:
# Display unique values in each column
print("\nUnique Values per Column:")
for column in df.columns:
    print(f"\n{column}:")
    print(df[column].value_counts().head())

Unique Values per Column:

ID:
ID
1       1
3331    1
3338    1
3337    1
3336    1
Name: count, dtype: int64

Age:
Age
35    151
43    149
52    145
54    143
58    143
Name: count, dtype: int64

Experience:
Experience
32    154
20    148
9     147
5     146
23    144
Name: count, dtype: int64

Income:
Income
44    85
38    84
81    83
41    82
39    81
Name: count, dtype: int64

ZIP Code:
ZIP Code
94720    169
94305    127
95616    116
90095     71
93106     57
Name: count, dtype: int64

Family:
Family
1    1472
2    1296
4    1222
3    1010
Name: count, dtype: int64

CCAvg:
CCAvg
0.3    241
1.0    231
0.2    204
2.0    188
0.8    187
Name: count, dtype: int64

Education:
Education
1    2096
3    1501
2    1403
Name: count, dtype: int64

Mortgage:
Mortgage
0      3462
98       17
119      16
89       16
91       16
Name: count, dtype: int64

Personal Loan:
Personal Loan
0    4520
1     480
Name: count, dtype: int64

Securities Account:
Securities Account
0    4478
1     522
Name: count, dtype: int64

CD Account:
CD Account
0    4698
1     302
Name: count, dtype: int64

Online:
Online
1    2984
0    2016
Name: count, dtype: int64

CreditCard:
CreditCard
0    3530
1    1470
Name: count, dtype: int64

In [38]:
# Create visualizations
import matplotlib as mpl # visualizations
import matplotlib.pyplot as plt
import seaborn as sns

# Set up the plotting style
plt.style.use('seaborn')
sns.set_palette("husl")

# Create a figure with multiple subplots
fig = plt.figure(figsize=(15, 10))

# Distribution of Personal Loan (target variable)
plt.subplot(2, 2, 1)
sns.countplot(data=df, x='Personal Loan')
plt.title('Distribution of Personal Loan')

# Income distribution
plt.subplot(2, 2, 2)
sns.histplot(data=df, x='Income', bins=30)
plt.title('Distribution of Income')

# Age distribution
plt.subplot(2, 2, 3)
sns.histplot(data=df, x='Age', bins=30)
plt.title('Distribution of Age')

# Correlation heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(df.corr(), annot=True, cmap='coolwarm', center=0)
plt.title('Correlation Heatmap')

plt.tight_layout()
plt.show()

# Additional insights: Education level vs Personal Loan
plt.figure(figsize=(10, 6))
sns.countplot(data=df, x='Education', hue='Personal Loan')
plt.title('Education Level vs Personal Loan')
plt.show()

# Income vs Personal Loan with Education
plt.figure(figsize=(10, 6))
sns.boxplot(data=df, x='Personal Loan', y='Income', hue='Education')
plt.title('Income Distribution by Loan Status and Education')
plt.show()

ValueError: Key backend: 'module://matplotlib_inline.backend_inline' is not a valid value for backend; supported values are ['gtk3agg', 'gtk3cairo', 'gtk4agg', 'gtk4cairo', 'macosx', 'nbagg', 'notebook', 'qtagg', 'qtcairo', 'qt5agg', 'qt5cairo', 'tkagg', 'tkcairo', 'webagg', 'wx', 'wxagg', 'wxcairo', 'agg', 'cairo', 'pdf', 'pgf', 'ps', 'svg', 'template']

**6. Step 3: ML Modeling**

The first model is a classification model, trying to predict if a customer will take a personal loan based on their income, age, education, mortgage, and credit card average usage.

In [46]:
# Import necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix

# Prepare the data
X = df.drop(['Personal Loan', 'ID', 'ZIP Code'], axis=1)  # Remove ID and ZIP Code as they're likely not relevant
y = df['Personal Loan']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train and evaluate multiple models
models = {
    'Logistic Regression': LogisticRegression(),
    'Random Forest': RandomForestClassifier(),
    'SVM': SVC()
}

for name, model in models.items():
    print(f"\nTraining {name}...")
    model.fit(X_train_scaled, y_train)
    y_pred = model.predict(X_test_scaled)
    print(f"\n{name} Results:")
    print(classification_report(y_test, y_pred))

Training Logistic Regression...

Logistic Regression Results:
              precision    recall  f1-score   support

           0       0.97      0.99      0.98       895
           1       0.86      0.78      0.82       105

    accuracy                           0.96      1000
   macro avg       0.92      0.88      0.90      1000
weighted avg       0.96      0.96      0.96      1000


Training Random Forest...

Random Forest Results:
              precision    recall  f1-score   support

           0       0.99      1.00      0.99       895
           1       0.98      0.92      0.95       105

    accuracy                           0.99      1000
   macro avg       0.99      0.96      0.97      1000
weighted avg       0.99      0.99      0.99      1000


Training SVM...

SVM Results:
              precision    recall  f1-score   support

           0       0.98      1.00      0.99       895
           1       0.99      0.80      0.88       105

    accuracy                           0.98      1000
   macro avg       0.98      0.90      0.94      1000
weighted avg       0.98      0.98      0.98      1000

After predicting if a customer will take a personal loan, I want to predict the maximum loan amount a customer can afford based on their income, age, education, mortgage, and credit card average usage.

In [48]:
# Create a synthetic maximum loan amount based on common banking rules
# This is a simplified example - actual banking rules are more complex
def calculate_theoretical_max_loan(row):
    # Common rules of thumb:
    # - Maximum monthly payment = 40% of monthly income
    # - Loan term = 3 years
    # - Consider existing obligations (mortgage, credit card)
    
    monthly_income = row['Income'] * 1000 / 12  # Assuming income is in thousands
    existing_obligations = (row['Mortgage'] / 12) + (row['CCAvg'] * 1000)
    available_monthly_payment = (monthly_income * 0.4) - existing_obligations
    
    # Simple present value calculation for 3-year loan at 10% annual interest
    r = 0.07 / 12  # monthly interest rate
    n = 36         # number of months
    max_loan = available_monthly_payment * ((1 - (1 + r)**(-n)) / r)
    
    return max(0, max_loan)  # Ensure non-negative

# Create target variable
df['Theoretical_Max_Loan'] = df.apply(calculate_theoretical_max_loan, axis=1)

# Prepare features for regression
features = ['Age', 'Experience', 'Income', 'CCAvg', 'Education', 'Mortgage']
X = df[features]
y = df['Theoretical_Max_Loan']

# Split and scale data
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train multiple regression models
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

models = {
    'Linear Regression': LinearRegression(),
    'Random Forest': RandomForestRegressor(n_estimators=100)
}

for name, model in models.items():
    print(f"\nTraining {name}...")
    model.fit(X_train_scaled, y_train)
    y_pred = model.predict(X_test_scaled)
    print(f"R2 Score: {r2_score(y_test, y_pred):.3f}")
    print(f"RMSE: ${np.sqrt(mean_squared_error(y_test, y_pred)):,.2f}")

# Function to predict max loan for new customers
def predict_max_loan(model, customer_data):
    customer_scaled = scaler.transform(customer_data)
    predicted_amount = model.predict(customer_scaled)[0]
    return max(0, predicted_amount)

Training Linear Regression...
R2 Score: 0.905
RMSE: $10,577.67

Training Random Forest...
R2 Score: 0.999
RMSE: $1,285.12

In [49]:
# Test different customer profiles
test_customers = pd.DataFrame({
    'Age':        [25,    35,    45,    55],
    'Experience': [3,     10,    20,    30],
    'Income':     [40,    80,    120,   200],
    'CCAvg':      [1,     2,     4,     6],
    'Education':  [1,     2,     3,     3],  # 1=Undergrad, 2=Graduate, 3=Advanced/Professional
    'Mortgage':   [0,     100000, 200000, 300000]
})

print("Predicted maximum loan amounts for different customer profiles:")
print("-" * 80)
for idx, customer in test_customers.iterrows():
    customer_df = pd.DataFrame([customer])
    max_loan = predict_max_loan(models['Random Forest'], customer_df)
    print(f"\nCustomer Profile {idx + 1}:")
    print(f"Age: {customer['Age']}, Experience: {customer['Experience']} years")
    print(f"Income: ${customer['Income']*1000:,.0f}, Education: {customer['Education']}")
    print(f"Credit Card Avg: ${customer['CCAvg']*1000:,.0f}, Mortgage: ${customer['Mortgage']:,.0f}")
    print(f"Predicted maximum loan amount: ${max_loan:,.2f}")

Predicted maximum loan amounts for different customer profiles:
--------------------------------------------------------------------------------

Customer Profile 1:
Age: 25, Experience: 3 years
Income: $40,000, Education: 1
Credit Card Avg: $1,000, Mortgage: $0
Predicted maximum loan amount: $10,817.08

Customer Profile 2:
Age: 35, Experience: 10 years
Income: $80,000, Education: 2
Credit Card Avg: $2,000, Mortgage: $100,000
Predicted maximum loan amount: $21,922.56

Customer Profile 3:
Age: 45, Experience: 20 years
Income: $120,000, Education: 3
Credit Card Avg: $4,000, Mortgage: $200,000
Predicted maximum loan amount: $2,527.52

Customer Profile 4:
Age: 55, Experience: 30 years
Income: $200,000, Education: 3
Credit Card Avg: $6,000, Mortgage: $300,000
Predicted maximum loan amount: $11,068.16